

.home-card{
    max-width:650px !important;
    height: max-content !important;
    margin: 26px auto !important;

}
.card{
    text-align: center;
}

.card-content{
    padding: 12px !important;
}

.home-card{
    text-align: left !important;
    padding: 12px !important;
}