.signup{
    display: grid !important;
    place-items: center !important;
    margin-top: 65px !important;
}

.card{
    max-width: 320px;
    text-align: center;  
    padding: 20px;
    margin: auto;

 
}

.logo{
    border-radius: 100%;
    margin-top: -65px;
    height: 100px;
    object-fit: contain;
   
}

.card > input{
    padding: 25px;
}
.card > input:focus{
    border-bottom: 1px solid #ED4C67 !important;
    width: 100%;

}

.brand-logo{
    font-family: 'Grand Hotel', cursive;
}

.card > button {
    margin-top: 30px;
    background-color: #ED4C67;
}

.card__footer{
    margin-top: 20px !important;
    color: blue !important;
    padding: 3px 0px;
} 

#toast-container{
    top:50px !important;
    right:0px !important;

}